<p id="notice"><%= notice %></p>

<h1>Shoes</h1>
<%= link_to  "New_shoe", new_shoe_path %>

<%= search_form_for @q do |f| %>

  # Search if the name field contains...
  <%= f.label "Find shoe:" %>
  <%= f.search_field :brand_or_model_or_description_cont %>


  <%= f.submit %>
<% end %>

<div class="container">
  <% @shoes.each do |shoe| %>
  <div class="card" style="
  border-radius: 20px;
    box-shadow: 2px 2px 7px black;
    width: 300px;
    position: relative;
    margin: 10px;">
    <div class="card-image" style="width: 300px;border-radius: 20px 20px 0px 0px">
    <figure class="image is-4by3">
      <%#= image_tag shoe.picture if shoe.picture.attached? %> 
      <%= image_tag shoe.shoe_attachment_path%>

    </figure>
  </div>
    <div class="card-content" style="height:300px">
    <ul>
     <li> <%= shoe.brand %></li>
      <li><%= shoe.user.email %> - <%= image_tag shoe.user.user_picture_attach%></li>
     <li> <%= shoe.model %></li>
     <li> <%= shoe.condition %></li>
     <li> <%= shoe.price %></li>
      <li><%= shoe.description %></li>
      <li><%= shoe.location.state %></li>
      </ul>
    </div>
    <div class="card-footer" style="height:50px">
      <%= link_to 'Show', shoe, class:"card-footer-item" %>
      <% if user_signed_in? %>
      <% if shoe.user == current_user %>
      <%= link_to 'Edit', edit_shoe_path(shoe), class:"card-footer-item"  %>
      <%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-footer-item"  %>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <br>


</div>